/*Main*/
#responsive-menu {display: none;}
main {margin-top: 15px;}
/*Animation de la bannière */
#animeBanner1, #animeBanner2 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes changeBg {
  0%, 100% { background-color: white; }
  50% { background-color: #9200AC; }
}
@keyframes changeBgImage1 {
  0%, 100% { background-image: url(logoC.png); }
  50% { background-image: url(logoW.png); }
}

@keyframes changeBgImage2 {
  0%, 100% { background-image: url(dpslogoP.png); }
  50% { background-image: url(dpslogoW.png); }
}

#animeBanner {
    animation: changeBg 5s infinite;
    width: 1050px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
#animeBanner1 {
    background-image: url(logoC.png);
    animation: changeBgImage1 5s infinite;
    width: 700px;
    display: flex;
    align-items: center;
}
#animeBanner2 {
    background-image: url(dpslogoP.png);
    animation: changeBgImage2 5s infinite;
    width: 120px;
    margin-top: 300px;
}

/*Main*/
.rec {
    width: auto; height: auo;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}
.eta {
    width: 150px; height: 150px;
    transition-duration: 0.5s;
}
.eta:hover {
  scale: 1.2;
  transition-duration: 0.5s;
}
.bann {text-align: center; color: #9200AC; padding-top: 20px;}
.two-columns {
    display: flex;
    justify-content: space-between;
}
.image {
    margin: 30px;
    text-align: center;
    max-width: 700px;
}
.txt {
    font-weight: 200;
    text-align: justify;
}
.bold {
    font-weight: bold;
}
/*Footer*/
footer {margin-top: 20px;}

/* Media queries */
@media only screen and (max-width: 480px) {
    /* Head */
    #menu-respo {
        width: 30px;
        height: 30px;
        margin-left: 195px;
    }
    #responsive-menu {
        background-color: white;
        width: 384px;
        height: auto;
        margin-top: -7px;
        padding: 20px;
        border-radius: 20px;
        border: #9200AC 2px dashed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #responsive-menu ul {
        display: flex;
        align-items: center;
        margin-bottom: auto;
        flex-direction: row;
    }
    #responsive-menu a {
        color: #9200AC;
    }
    #responsive-menu li {
        margin: 10px 0;
    }
    #menu-respo-content {
        display: none;
        flex-direction: column;
        justify-content: center;
    }

    #animeBanner {
        max-width: 420px;
        padding: 0%;
        height: 250px;
        margin-top: 85px;
    }
    #animeBanner1, #animeBanner2 {
        width: 500px;
    }
    #animeBanner1 {
        margin-left: 90px;
    }
    #animeBanner2 {
        margin-top: 40%;
        width: 100px;
        margin-right: 50px; 
    }

    /* Main*/
    .eta {
        width: 100px; height: 100px;
        transition-duration: 0.5s;
    }
    .bann {font-size: 20px;}
    .txt, .titre {font-size: 12px;}
    .image {
        margin: 15px;
    }
}