/* Format du corps */
#t-nav {
    margin-left: calc(62% - 280px);
    margin-top: -20px;
    color: black;
}
.rec {
    width: 1050px; height: auto;
    margin-bottom: 20px;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
}
/* Format de premier rec */
.tt {
    font-weight: bold;
    color: #9200AC;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.qr {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.qrtxt {color: black;}
.infs {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 50px;
    font-weight: bold;
    padding: 20px;
}
.infs a {
    text-decoration: none;
}
/*Format de l'entrée de l'Id*/
#id {
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    width: 150px;
    padding: 20px;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
}
input::placeholder {
    opacity: 0.5;
    font-style: italic;
}
label#id input, select {
    background-color: white;
    margin-right: 20px;
    transition-duration: 0.3s;
    text-transform: uppercase;
    border: 2px solid #9200AC;
}
input[type="file"] {
    color: #9200AC;
    width: auto;
}
/*Format de l'entrée du message*/
#formTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fLine {margin: 20px; display: flex; flex-direction: row; gap: 20px;}
#id {
    background-color: white;
    font-size: 20px;
    border: #9200AC 2px solid;
}
#text {
    display: flex;
    flex-direction: column;
}
#messages {
    background-color: #f5f5f5;
    max-width: 100%;
    box-sizing: border-box;
}
textarea {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #f5f5f5;
    padding: 20px 0px 0px 20px;
    resize: none;
    font-family: "Be Vietnam Pro", Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: 300;
}
#messages:focus, select:focus, #id {
    outline: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: #9200AC;
}
a:focus {
    text-decoration: none;
    color: #9200AC;
}
select {
    width: 200px; height: 65px;
    border: 0px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #9200AC;
    transition-duration: 0.3s;
    color: white;
    text-transform: uppercase;
}
select option {
    background-color: white;
    color: #9200AC;
}
option:hover {
    background-color: #9200AC;
    color: white;
}

header {margin-top: 7px;}
.step-btn {
    font-family: 'Be vietnam pro';
    font-size: 15px;
    border: 2px solid #9200AC;
    background-color: white;
    color: #9200AC;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    text-align: center;
}
.step-btn:hover {
    background-color: #9200AC;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}
