/* Style de la page */
.rec {
    width: 1150px; height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.liner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
}
.info {
    height: 65px;
    background-color: #9200AC;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 25px;

}
.infoAnswer {
    height: 65px;
    background-color: #F5F5F5;
    color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex: 1;
    font-size: 20px;
    margin-right: 30px;
}

/* Style des moyens de paiement */
.tt {
    font-weight: bold;
    color: #9200AC;
    display: flex;
    justify-content: center;
}
.method {
    background-color: #F5F5F5;
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
}
.method:hover, .selected {
    background-color: #00bb00;
    color: white;
}
.logo-paie {
    width: 80px;
    height: fit-content;
    margin: 20px;
    border-radius: 10px;
}
.modePaie {
    display: flex;
    align-items: center;
    justify-content: center;
}
.montant-choisi {
    display: flex;
    justify-content: center;
}

/*Style du numéro de paiement*/
#numC {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F5F5F5;
    max-width: 1000px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.infoBull, #ul {
    display: flex;
}
.infoBull {
    justify-content: center;
}
#ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#numP {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #9200AC;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: auto;
}

#check {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */
@media screen and (max-width: 480px) {
    /* Body DETAILS */
    .rec {
        max-width: 400px;
    }
    .liner {
        gap: 0px;
    }
    .line {
        flex-direction: column;
    }
    .info, .infoAnswer {
        padding: 12px;
        font-size: 15px;
        margin: 5px;
        width: 150px;
        height: 50px;
    }
    .info {font-size: 18px;}
    .infoAnswer {margin-bottom: 20px;}

    /* Body PAIEMENT*/
    .method {
        font-size: 15px;
        margin: 5px;
        padding: 5px;
    }
    .logo-paie {
        width: 60px;
        margin: 5px;
    }
    .text {margin-left: 10px;}
    .checked {margin-left: 10px;}
    #checkbox {
        width: 30px;
        height: 24px;
        background-color: #9200AC;
    }
}