body {
    font-family: "Be Vietnam Pro", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5F5F5;
}
header {
    position: fixed;
}
header .logo {
    z-index: 1;
    margin-top: -70px;
    margin-bottom: 50px;
    width: 190px;
    height: 42px;
    margin-left: 27px;
}
main {
    margin-top: 15px;
    margin-left: 270px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
a {text-decoration: none;}
.link {color: #9200AC}

/* Hearder */
#responsive-menu {
    display: none;
}
nav {color: #9200AC; font-size:  20px; font-weight: 500;}
ul {list-style: none;}
header {z-index: 3;}
header li {
    margin: 10px;
    display: flex;
    align-items: center;
}

header a {color: black;}
header #t-nav a:hover {color:#9200AC;}
header #l-nav a {color:#9200AC;}
* [class="icon"] {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.menu {
    opacity: 50%;
}
.menu:hover {opacity: 100%;}
#l-nav, #t-nav {
    position: fixed;
    z-index: 2;
}

 /* Right Navigation */
#l-nav  {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    padding-top: 125px;
    margin-left: 5px;
}

#l-nav ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

    /* Top Navigation */
#t-nav {
    margin-left: calc(58% - 250px);
}

.t-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
}

/* Main */
    /* Banner */
#banner, #bannern, #bannerc, #bannerm, #banners {
    width: 1050px;
    height: 400px;
    border-radius: 20px;
    margin-top: 3px;
}
#banner {background: url(banner.png) lightgray 50% / cover no-repeat}
#bannern {background: url(bannern.jpg) lightgray 50% / cover no-repeat;}
#bannerc {background: url(bannerc.jpeg) lightgray 50% / cover no-repeat;}
#bannerm {background: url(bannerm.jpg) lightgray 50% / cover no-repeat;}
#banners {background: url(banners.jpg) lightgray 50% / cover no-repeat;}
    /* Content */
.article {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.img {width: 100px;} .img-crun {width: 110px;}
.img, .img-crun {
    height: 100px;
    margin-top: -10px;
}
.produits {
    display: flex;
    max-width: 530px;
}
.produit, .produit-b {
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin-right: 10px;
}
.produit {background-color: white;}
.img, .img-crun {transition-duration: 0.5s;}
h3 {margin-top: 10px;}

/* Styles des prix */
.prix {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
}
.devise {opacity: 0.5;; font-weight: bold; margin-right: 5px;}
.prix2, .prix3, .prix4, .prix5, .prix5_5, .prix6_5, .prix9, .prix10, .prix11, .prix13, .prix25, .prix27,
.prix2Spot, .prix3Spot, .prix5Spot, .prix8Spot, .prix10Spot, .prix20Spot
 {font-weight: bold;}

.title-net, .title-spot, .title-mc, .title-crun {font-weight: bold; text-align: center; padding-top: 10px;}
.title-net {color: red;}
.title-spot {color: green;}
.title-mc {color: black;}
.title-crun {color: orangered;}
.img:hover, .img-crun:hover {
    transform: scale(1.1);
    transition: 0.5s;
    margin-top: -5px;
}


/* Footer */
#footer {
    background-color: #9200AC;
    width: 1010px;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 270px;
    margin-bottom: 15px;
}

.logo-footer {
    width: 190px;
    height: 45px;
    margin-left: -50px;
}
.footer-col {
    display: flex;
    justify-content: center;
}
.footer-img {
    display: flex;
    align-items: center;
}
.footer ul {color: white;}
.footer li {margin-bottom: 20px;}
.footer a {
    text-decoration: none;
    color: white;
    font-size: normal;
    }
.footer a:hover {
    text-decoration: underline 1.5px;
    text-underline-offset: 8px;
    transition: width 1.5s ease-in;
}
.footer a::after {
    color: white;
}

footer title {
    background-color: white;
    color: #9200AC;
}
.pageNum {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.stepBtn {
    font-size: 15px;
    background-color: #9200AC;
    color: white;
    border: #9200AC 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    transition: 0.5s;
}
.stepBtnS {
    font-size: 15px;
    background-color: white;
    color: #9200AC;
    border: #9200AC 2px solid;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px;
    font-weight: bold;
    transition: 0.5s;
}

.stepBtenS:hover {
    background-color: #9200AC;
    color: white;
    transition: 0.5s;
}


/* Media queries */

/* Smartphones */
    /* Portrait */
@media screen and (max-width: 800px) {
    /* Header */
    #logo-respo {
        width: 150px;
        height: auto;
    }
    #menu-respo {
        width: 30px;
        height: 30px;
        margin-left: 200px;
    }
    #responsive-menu {
        background-color: white;
        width: 400px;
        height: auto;
        padding: 20px;
        margin: 1px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #responsive-menu ul {
        display: flex;
        align-items: center;
        margin-bottom: auto;
        flex-direction: row;
    }
    #responsive-menu a {
        color: #9200AC;
    }
    #responsive-menu li {
        margin: 10px 0;
    }
    #menu-respo-content {
        display: none;
        flex-direction: column;
        justify-content: center;
    }
    #l-nav {
        display: none;
    }
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px;
    }
    #t-nav {
        display: none;
    }
    #banner, #bannern, #bannerc, #bannerm, #banners {
        margin-top: 90px;
        margin-left: -11px;
        width: 444px;
        height: 300px;
    }

    /* Articles */
    .article {
        padding-top: -15px;
    }
    .produits {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .produit {
        border-radius: 20px;
        width: 185px;
        height: auto;
        margin-right: 15px;
    }
    
    /*Pre-foot*/
    /* Footer */
    #footer {
        height: 250px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 0%;
    }    
    .logo-footer {
        margin: 0px;
    }
    .footer-col {
        font-size: 10px;
        text-align: left;
        margin-left: -30px;
    }
    .footer a {
        font-size: 7px;
    }
    .footer li {
        text-align: left;
    }
    .footer-col ul {
        display: flex;
        flex-direction: column;
    }
    #footer .icon {
        width: 20px;
        height: 20px;
    }
}
/* Tablette */
